<div class="container is-fluid">
  <textarea class="textarea m-2" placeholder="Add a Comment..." rows="3"></textarea>
    <button class="button is-rounded is-success">Submit<i class="p-2 fa-solid fa-check"></i>
    </button>
  </div>