<div class="container is-fluid">
  <textarea class="textarea mt-4 m-2" id="post-title"placeholder="Title" rows="1"></textarea>
  <textarea class="textarea m-2" id="post-content" placeholder="What's on your mind?" rows="5"></textarea>
    <button class="button is-rounded is-success">Submit<i class="p-2 fa-solid fa-check"></i>
    </button>
  </div>
  <script src="/js/newpost.js"></script>